{% extends "base.html" %}


{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Akkountingiz yo'qmi?</p>
						<h1>Ro'yxatdan o'tish</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<main class="offcanvas-enabled" style="padding-top: 5rem;">
    <section class="ps-lg-4 pe-lg-3 pt-4">


        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <article class="card-body">
                {% include 'accounts/alert.html' %}
                <header class="mb-4">
                    <h4 class="card-title">Ro'yxatdan o'tish</h4>
                </header>
                <form method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">Ism</label>
                            {{ form.first_name }}
                        </div> <!-- mb-3 end.// -->
                        <div class="col mb-3">
                            <label class="form-label">Familiya</label>
                            {{form.last_name}}
                        </div> <!-- mb-3 end.// -->
                    </div> <!-- row end.// -->


                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Pochta manzili</label>
                            {{form.email}}
                            <small class="form-text text-muted">E-pochtangizni hech kim bilan baham ko'rmaymiz.</small>
                        </div> <!-- mb-3 end.// -->
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Foydalanuvchi nomi</label>
                            {{form.username}}
                        </div> <!-- mb-3 end.// -->
                    </div> <!-- row.// -->
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Parol</label>
                            {{form.password}}
                        </div> <!-- mb-3 end.// -->
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Parolni qayta kiriting</label>
                            {{form.confirm_password}}
                        </div> <!-- mb-3 end.// -->
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-block"> Ro'yxatdan o'tish </button>
                    </div> <!-- mb-3// -->
                    {{form.email.errors}}
                    {{form.non_field_errors}}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Akkountingiz bormi? <a href="{%url 'login'%}">Kirish</a></p>
        <br><br>


    </section>

</main>
{% endblock content %}